{
  "plugins": ["prettier-plugin-apex", "@prettier/plugin-xml"],
  "trailingComma": "none",
  "singleQuote": false,
  "printWidth": 120,
  "tabWidth": 4,
  "useTabs": false,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "**/lwc/**/*.{html,css,js,json}",
      "options": {
        "tabWidth": 2,
        "printWidth": 100
      }
    },
    {
      "files": "*.{cls,trigger,apex}",
      "options": {
        "parser": "apex",
        "tabWidth": 4,
        "printWidth": 120
      }
    },
    {
      "files": "*.{json,yml,yaml,md}",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
